{% extends "es/layout.html" %}

{% block content %}
  <h2>Manuel Díaz-Meco</h2>
  <p>Este proyecto ha sido desarrollado como parte del Trabajo Final de Grado del Doble Grado en Ingeniería Informática y Matemáticas por la Universidad de Granada.</p>
  <p>Para más información, puedes visitar mis perfiles tanto en LinkedIn como en GitHub:</p>
  <ul>
    <li><a href="https://www.linkedin.com/in/manuel-diaz-meco-terres" target="_blank">LinkedIn</a></li>
    <li><a href="https://github.com/manidmt" target="_blank">GitHub</a></li>
  </ul>
{% endblock %}