{% extends "es/layout.html" %}

{% block content %}
  <h2>Últimos modelos entrenados</h2>
    <div class="latest-models">
      <div class="model-column">
        <h3>Machine Learning</h3>
        <ul>
          {% for model in sklearn_models %}
            <li>
              <a href="/{{ lang }}/acciones/{{ model.ticker }}/{{ model.model_id }}">
                {{ model.architecture }} - {{ model.ticker }} - {{ model.year }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="model-column">
        <h3>Deep Learning</h3>
        <ul>
          {% for model in keras_models %}
            <li>
              <a href="/{{ lang }}/acciones/{{ model.ticker }}/{{ model.model_id }}">
                {{ model.architecture }} - {{ model.ticker }} - {{ model.year }}
                {% if model.type and model.type != 'unknown' %}- {{ model.type }}{% endif %}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
{% endblock %}

{% block helptext %}
  <h4>Página principal</h4>
  <p>
      ¡Bienvenido! Explora las distintas páginas de la web, en todas ellas contarás con información sobre dicha página.
  </p>
  <p>
    Aquí encontrarás los últimos modelos que han sido entrenados y almacenados, divididos por tipo de modelo: aquellos que usan redes neuronales (deep learning) y los que no (machine learning).
  </p>
{% endblock %}