<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Proyecto TFG</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
        <h1>TFG de Manuel</h1>
        <nav>
            <a href="/es/">Inicio</a> |
            <a href="/es/acciones">Acciones</a> |
            <a href="/es/simulacion">Simulaciones</a>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>
            <a href="{{ url_for('main.autor', lang=lang) }}">Autor</a> |
            <a href="https://github.com/manidmt/TFG.git" target="_blank">Repo</a>
        </p>
    </footer>
</body>
</html>
