{% extends "es/layout.html" %}

{% block content %}
  <h2>Modelos disponibles para {{ ticker_name }}</h2>

  {% if models %}
    <table class="generic-table ">
      <thead>
        <tr>
          <th>Arquitectura</th>
          <th>Entrenado hasta</th>
          <th>Tipo</th>
          <th>Información Extra</th>
        </tr>
      </thead>
      <tbody>
        {% for model in models %}
        <tr>
          <td><a href="/{{ lang }}/acciones/{{ ticker }}/{{ model.base_name }}">{{ model.architecture }}</a></td>
          <td>{{ model.year }}</td>
          <td>{{ model.framework }}</td>
          <td>{{ model.extra_tickers }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No se encontraron modelos para {{ ticker }}</p>
  {% endif %}
{% endblock %}

{% block helptext %}
  <h4>Modelos para cada acción</h4>
  <p>
    Aquí se muestran los detalles de los modelos disponibles para la acción seleccionada. Puedes hacer clic en el nombre de la arquitectura para ver más detalles sobre cada modelo.
  </p>
  <p>
    Si no ves el modelo que buscas, es porque aún no se ha entrenado un modelo para esa acción (o no se pretende hacer). ¡Puede que en el futuro se añadan más!
  </p>
  <p>
    Qué es cada columna:
  </p>
  <ul>
    <li><strong>Arquitectura:</strong> El tipo de modelo utilizado (por ejemplo, LSTM, GRU, etc.).</li>
    <li><strong>Entrenado hasta:</strong> La fecha hasta la cual se ha entrenado el modelo. Para 2025 los datos son hasta junio</li>
    <li><strong>Tipo:</strong> Si se ha creado usando keras (Deep Learning) o scikit-learn (Machine Learning).</li>
    <li><strong>Información Extra:</strong> Si el modelo, además de la acción principal, también ha contado con información extra para su entrenamiento.</li>
  </ul>
  <p>
    Para más información sobre qué es cada cosa, recomiendo buscar las secciones correspondientes en la memoria del TFG (tienes el link ahí abajo).
  </p>
{% endblock %}